/.ipynb_checkpoints
/__pycache__
/epochs
/fontspace-ttfs
/fontspace-ttfs-csv
/fs_imgs
/fs-ttfs
/imgs
/links
.env
fontspace-final.txt
fontspace.txt
labels.txt
wordcloud.txt
counter.py
warnings.txt
word_count.csv
labeled_arrays.npz
stacked_array.npy
fontsearch.py
*/__pycache__
font_vectors/
done.txt
test.txt
model/*.txt
metadata/uid_test.csv
metadata/uid.csv
metadata/simplified.csv
model/X.npy
model/y.npy
model/encodings.csv
metadata/trimmed_encodings.csv
model/fontsearch.hdf5